/data/blogcatalog/raw/__MACOSX/blogcatalog.attr/._edgelist.txt
/data/blogcatalog/raw/__MACOSX/blogcatalog.attr/._labels.txt
/data/blogcatalog/raw/__MACOSX/blogcatalog.attr/._.DS_Store
/data/flickr/raw/__MACOSX/flickr.attr/._.DS_Store
/data/blogcatalog/raw/__MACOSX/._blogcatalog.attr
/data/flickr/raw/__MACOSX/flickr.attr/._edgelist.txt
/data/flickr/raw/__MACOSX/._flickr.attr
/data/flickr/raw/__MACOSX/flickr.attr/._labels.txt
/.idea/.gitignore
/.idea/encodings.xml
/.gitignore
/data/Computers/raw/amazon_electronics_computers.npz
/data/Photo/raw/amazon_electronics_photo.npz
/data/amazon_ratings.npz
/data/blogcatalog/raw/attrs.npz
/data/flickr/raw/attrs.npz
/data/blogcatalog_tvt_nids.pkl
/data/chameleon_filtered.npz
/data/citeseer.npz
/data/cora.npz
/data/cornell/raw/cornell_split_0.6_0.2_0.npz
/data/cornell/raw/cornell_split_0.6_0.2_1.npz
/data/cornell/raw/cornell_split_0.6_0.2_2.npz
/data/cornell/raw/cornell_split_0.6_0.2_3.npz
/data/cornell/raw/cornell_split_0.6_0.2_4.npz
/data/cornell/raw/cornell_split_0.6_0.2_5.npz
/data/cornell/raw/cornell_split_0.6_0.2_6.npz
/data/cornell/raw/cornell_split_0.6_0.2_7.npz
/data/cornell/raw/cornell_split_0.6_0.2_8.npz
/data/cornell/raw/cornell_split_0.6_0.2_9.npz
/data/WikiCS/raw/data.json
/data/blogcatalog/processed/data.pt
/data/CiteSeer/processed/data.pt
/data/Computers/processed/data.pt
/data/Cora/processed/data.pt
/data/cornell/processed/data.pt
/data/CS/processed/data.pt
/data/flickr/processed/data.pt
/data/Photo/processed/data.pt
/data/PubMed/processed/data.pt
/data/texas/processed/data.pt
/data/wisconsin/processed/data.pt
/data/dblp/processed/data_undirected.pt
/data/WikiCS/processed/data_undirected.pt
/data/dblp/raw/dblp.npz
/data/blogcatalog/raw/edgelist.txt
/data/flickr/raw/edgelist.txt
/data/flickr_tvt_nids.pkl
/data/CiteSeer/raw/ind.citeseer.allx
/data/CiteSeer/raw/ind.citeseer.ally
/data/CiteSeer/raw/ind.citeseer.graph
/data/CiteSeer/raw/ind.citeseer.test.index
/data/CiteSeer/raw/ind.citeseer.tx
/data/CiteSeer/raw/ind.citeseer.ty
/data/CiteSeer/raw/ind.citeseer.x
/data/CiteSeer/raw/ind.citeseer.y
/data/Cora/raw/ind.cora.allx
/data/Cora/raw/ind.cora.ally
/data/Cora/raw/ind.cora.graph
/data/Cora/raw/ind.cora.test.index
/data/Cora/raw/ind.cora.tx
/data/Cora/raw/ind.cora.ty
/data/Cora/raw/ind.cora.x
/data/Cora/raw/ind.cora.y
/data/PubMed/raw/ind.pubmed.allx
/data/PubMed/raw/ind.pubmed.ally
/data/PubMed/raw/ind.pubmed.graph
/data/PubMed/raw/ind.pubmed.test.index
/data/PubMed/raw/ind.pubmed.tx
/data/PubMed/raw/ind.pubmed.ty
/data/PubMed/raw/ind.pubmed.x
/data/PubMed/raw/ind.pubmed.y
/data/blogcatalog/raw/labels.txt
/data/flickr/raw/labels.txt
/.idea/misc.xml
/.idea/modules.xml
/data/CS/raw/ms_academic_cs.npz
/.idea/NoisyGL.iml
/data/cornell/raw/out1_graph_edges.txt
/data/texas/raw/out1_graph_edges.txt
/data/wisconsin/raw/out1_graph_edges.txt
/data/cornell/raw/out1_node_feature_label.txt
/data/texas/raw/out1_node_feature_label.txt
/data/wisconsin/raw/out1_node_feature_label.txt
/data/blogcatalog/processed/pre_filter.pt
/data/CiteSeer/processed/pre_filter.pt
/data/Computers/processed/pre_filter.pt
/data/Cora/processed/pre_filter.pt
/data/cornell/processed/pre_filter.pt
/data/CS/processed/pre_filter.pt
/data/dblp/processed/pre_filter.pt
/data/flickr/processed/pre_filter.pt
/data/Photo/processed/pre_filter.pt
/data/PubMed/processed/pre_filter.pt
/data/texas/processed/pre_filter.pt
/data/WikiCS/processed/pre_filter.pt
/data/wisconsin/processed/pre_filter.pt
/data/blogcatalog/processed/pre_transform.pt
/data/CiteSeer/processed/pre_transform.pt
/data/Computers/processed/pre_transform.pt
/data/Cora/processed/pre_transform.pt
/data/cornell/processed/pre_transform.pt
/data/CS/processed/pre_transform.pt
/data/dblp/processed/pre_transform.pt
/data/flickr/processed/pre_transform.pt
/data/Photo/processed/pre_transform.pt
/data/PubMed/processed/pre_transform.pt
/data/texas/processed/pre_transform.pt
/data/WikiCS/processed/pre_transform.pt
/data/wisconsin/processed/pre_transform.pt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/data/roman_empire.npz
/data/squirrel_filtered.npz
/data/texas/raw/texas_split_0.6_0.2_0.npz
/data/texas/raw/texas_split_0.6_0.2_1.npz
/data/texas/raw/texas_split_0.6_0.2_2.npz
/data/texas/raw/texas_split_0.6_0.2_3.npz
/data/texas/raw/texas_split_0.6_0.2_4.npz
/data/texas/raw/texas_split_0.6_0.2_5.npz
/data/texas/raw/texas_split_0.6_0.2_6.npz
/data/texas/raw/texas_split_0.6_0.2_7.npz
/data/texas/raw/texas_split_0.6_0.2_8.npz
/data/texas/raw/texas_split_0.6_0.2_9.npz
/data/Cora/raw/trans.cora.graph
/data/Cora/raw/trans.cora.tx
/data/Cora/raw/trans.cora.ty
/data/Cora/raw/trans.cora.x
/data/Cora/raw/trans.cora.y
/.idea/vcs.xml
/data/wisconsin/raw/wisconsin_split_0.6_0.2_0.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_1.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_2.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_3.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_4.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_5.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_6.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_7.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_8.npz
/data/wisconsin/raw/wisconsin_split_0.6_0.2_9.npz
/data/roman_empire/processed/data.pt
/data/amazon_ratings/processed/pre_filter.pt
/data/amazon_ratings/raw/amazon_ratings.npz
/data/amazon_ratings/processed/data.pt
/data/roman_empire/processed/pre_filter.pt
/data/amazon_ratings/processed/pre_transform.pt
/data/roman_empire/processed/pre_transform.pt
/data/roman_empire/raw/roman_empire.npz
